! ---
! Lucys Rice Field
! https://github.com/lucys-ricefield
! Rice #2
! .Xresources
! ---

! configure urxvt to be a little nicer
URxvt.scrollBar:	false
URxvt.iso14755:		false
URxvt.iso14755_52:	false

URxvt.keysym.Shift-Control-C:	eval:selection_to_clipboard
URxvt.keysym.Shift-Control-V:	eval:paste_clipboard

URxvt.keysym.Shift-Meta-c:	builtin-string:
URxvt.keysym.Shift-Meta-v:	builtin-string:

